
@font-face {
  font-family: ailerons;
  src: url('Ailerons-Typeface.otf');
}

@font-face {
  font-family: ailerons;
  font-weight: bold;
  src: url('Ailerons-Typeface.otf');
}


#logo {
  font-family: ailerons;
  font-size: 36pt;
}

#co_pg_logo {
  font-family: ailerons;
  font-size: 36pt;
}

/*#dash {
  margin: auto;
  display: block;
}*/


/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#map {
    width: 100%;
    height: 600px;
    background-position: center center;
}

#map_dash {
    width: 100%;
    height: 600px;
    background-position: center center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #7283a0;*/
    /*background-color: #b6ccd6;*/
/*    background-color: #93afbc;*/
    background-image: url("home2.jpg");
    background-color: #dce3ef;
}

#myDiv {
  display: none;
  text-align: center;
}

/*.attny-chart {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}*/

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background-image: url("cool3.jpg");
/*  background: #CCC;*/
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10pt
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

.navbar-brand {
  width: 250px;
  font-size: 18pt
}

/*TEXT BOX FOR NOTEPAD*/

#notepad {
    margin: 20px 20px 20px 20px;
}
#area {
    width: 80%;
    height: 500px;
    font: 1em arial;
    color: rgba(50, 82, 50, 1.0);
}
#area:focus {
    color: rgba(50, 82, 50, 1.0);
    border: 2px solid #96c56f;
    box-shadow: 0px 1px 1px #888888;
}

#notepadControls {
    margin-left: 10px;
}
a.button {
    width: 15%;
    display: inline-block;
    background: -webkit-linear-gradient(top, #fdfbfb, #ebedee);
    background: -moz-linear-gradient(top, #fdfbfb, #ebedee);
    background: -ms-linear-gradient(top, #fdfbfb, #ebedee);
    background: -o-linear-gradient(top, #fdfbfb, #ebedee);
    background: linear-gradient(to bottom, #fdfbfb, #ebedee);
    border-radius: 8px;
    border: 1px solid #444444;
    box-shadow: 0px 1px 1px #888888 inset, 1px 1px 3px #222222;
    color: #A9A9A9;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px 16px 32px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    font-family: arial;
}
a.button:hover {
    background: rgba(120, 160, 120, 1);
    color: white;
}
a.button:active {
    background: rgba(80, 120, 80, 1);
}