
<h1 align="center" id="co_pg_logo">Lglease</h1>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-lg-offset-3 col-lg-6">
            <img src="https://media.istockphoto.com/photos/different-varieties-of-melons-picture-id506597605?k=6&m=506597605&s=612x612&w=0&h=nezHR4t8e3AeFLWN34BnHAvbQWzVN-9oVLBwMWv2o74="></div>
        <div class="col-xs-offset-3 col-xs-6 col-lg-offset-3 col-lg-6">We deliver only the highest quality domestic and exotic melons from local, independent farmers from around the world. Our melons are delivered quickly with the greatest care. We guarantee every order, every time.</div>
    </div><br>


</div>