{% extends 'base.html' %}

{% block head %}

<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

  <h1>Available Attorneys</h1>
<canvas id="hBarChart" width="800" height="450"></canvas>

{% endblock %}

{% block content %}

<script>

    let options = {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

    let ctx_bar = $("#hBarChart").get(0).getContext("2d");

    // TODO: make a gradient
    // let green_red_gradient = bar_ctx.createLinearGradient(0, 0, 0, 600);
    // green_red_gradient.addColorStop(0, 'red');
    // green_red_gradient.addColorStop(1, 'green');

    $.get("/attorney_data.json", function (data) {
      let attorneyAvail = new Chart(ctx_bar, {
                                              type: 'horizontalBar',
                                              data: data,
                                              options: options
                                            });
    });

</script>

  <div class="attny-chart">
    <canvas id="hBarChart"></canvas>
  </div>

<div>
  {% for attorney in attorneys %}
    <ul>{{ attorney.fname }} {{ attorney.lname }}</ul>
  {% endfor %}
<div>

{% endblock %}