<!doctype html>
<html>
<head>

  <title>Hackbright: Lglease</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% block head %}

  {% endblock %}

</head>

<body>
    <ul>
        {% for message in get_flashed_messages() %}
            <li align="center"> {{ message }} </li>
        {% endfor %}
    </ul>

  <div id="loader-parent" style="display:none">
    <div class="loader" align="center" style="display:none"></div>
  </div>

  {% block content %} put your content here {% endblock %}

<script src="/static/upload.js"></script>

</body>

</html>