<!doctype html>
<html>
<head>
  <title>OCR PROJECT</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet">

  {% if 'current_user_name' not in session %}
    <h3><a href="/login">Login</a></h3>
  {% else %}
    <h2>Hello, {{ session['current_user_name'] }}</h2>
    <h3><a href="/signout">Sign out</a></h3>
  {% endif %}

  {% block head %}
      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>

<body>
<!--   GENERATE A FORM! -->
  <h3>Lglease</h3>

    <ul>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
        {% endfor %}
    </ul>

  {% block content %} put your content here {% endblock %}

</body>
</html>