{% extends 'base.html' %}

{% block head %}

  Start a new case

{% endblock %}

{% block content %}

  <form action='/process_users' method='POST'>

<!-- TODO: default to the user who is in the session -->
<!-- TODO: enter a 'none' option to two attorneys -->

    <h3>Select team leader:</h3>
    <select name="team_lead">
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
    </select>

    <h3>Select first attorney:</h3>
    <select name="attorney_1">
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
    </select>

    <h3>Select second attorney:</h3>
    <select name="attorney_2">
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
    </select>

    <input type='submit'>

  </form>

  {% for attorney in attorneys %}
    <ul>{{ attorney.fname }} {{ attorney.lname }}</ul>
  {% endfor %}

{% endblock %}