{% extends 'base.html' %}

{% block head %}

<!-- <br><br>
  <h4><b>Choose your Team</b></h4> -->

<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

{% endblock %}

{% block content %}

<div class="row" id="team-row">
  <div class="team-column col-xs-6" align="center">
    <h1 class="team-heading">Choose your Team</h1><br>
    <form id="team-select" action='/process_users' method='POST'>
        <label for="select">Team Lead</label>
        <div class="form-select">
            <select id="select" name="team_lead">
                <option value="">Select a team lead</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select><br>
        </div>
        <br><label for="select">Associate</label>
        <div class="form-select">
            <select id="select" name="attorney_1">
                <option value="">Select an associate</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select><br>
        </div>
        <br><label for="select">Associate</label>
        <div class="form-select">
            <select id="select" name="attorney_2">
                <option value="">Select an associate</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select>
        <br>
        <br>
        <input type='submit' class="btn btn-outline-success my-2 my-sm-0" value='Begin'>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
        <button class="btn btn-outline-success my-2 my-sm-0" id="dash-redirect-team">Back to Dashboard</button>
  </div>
  <div class="team-column col-xs-6">
    <div class="col">
        <canvas id="attnyBarChart" width="800" height="900"></canvas>
    </div>
  </div>
</div>

<!-- <div class="row" align="center">
    <button class="btn btn-outline-success my-2 my-sm-0" id="dash-redirect-team">Back to Dashboard</button>
</div>
 -->
<!-- <div id="wrapper" class="container"> -->

<!--     <form id="team-select" action='/process_users' method='POST'>
        <label for="select">Team Lead</label>
        <div class="form-select">
            <select id="select">
                <option value="">Select a team lead</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="select">Associate</label>
        <div class="form-select">
            <select id="select">
                <option value="">Select an associate</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="select">Associate</label>
        <div class="form-select">
            <select id="select">
                <option value="">Select an associate</option>
                {% for attorney in attorneys %}
                <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
                {% endfor %}
            </select>
        <input type='submit' class="btn btn-outline-success my-2 my-sm-0" value='Begin'>
        </div>
    </form> -->



<!--     <form action='/process_users' method='POST'>

<select id="team-lead">
    <option value="hide"> Team Lead </option>
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
</select>

<select id="attny-1">
    <option value="hide">Associate </option>
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
</select>

<select id="attny-2">
    <option value="hide"> Associate </option>
    {% for attorney in attorneys %}
    <option value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
    {% endfor %}
</select> -->

<!--     <input type='submit' class="btn btn-outline-success my-2 my-sm-0" value='Begin'>

    </form>

</div> -->
<!--
<div id="wrapper" class="container">
    <div class="row">
    <div class="col-sm-6">
    <form action='/process_users' method='POST'>

<!
    <p class="team-heading">Choose your Team</p> -->
  <!--       <div id="team-options" align="center">
        <p>Team lead:</p>
        <select class="menu" name="team_lead">
        {% for attorney in attorneys %}
        <option class="menu" value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
        {% endfor %}
        </select>

        <p>First attorney:</p>
        <select class="menu" name="attorney_1">
        {% for attorney in attorneys %}
        <option class="menu" value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
        {% endfor %}
        </select>

        <p>Second attorney:</p>
        <select class="menu" name="attorney_2">
        {% for attorney in attorneys %}
        <option class="menu" value="{{ attorney.user_id }}">{{ attorney.fname }} {{ attorney.lname }}</option>
        {% endfor %}
        </select>
        </div>

        <input type='submit' class="btn btn-outline-success my-2 my-sm-0" value='Begin'>

      </form>
    </div>
    </div>
</div>  -->

<!-- <button class="btn btn-outline-success my-2 my-sm-0" id="dash-redirect">Back to Dashboard</button>
 -->

<!-- <div class="container-fluid">
    <div class="col-sm-4">
        <h2 id="init-logo">Lglease</h2>
    </div>
</div> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/dashboard.js"></script>
    <script src="/static/case_init.js"></script>
    <script>
        createAttnyAvail();
    </script>

{% endblock %}