{% extends 'base.html' %}

{% block head %}

<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1" /> -->

{% endblock %}

{% block content %}

<body id="dashBackCorp">

<nav class="navbar navbar-default navbar-fixed-top" id="corp-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="dash-logo" href="/about_us">Lglease</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/welcome">Litigation</a></li>
      <li><a href="/attorneys">Attorneys</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{ session['current_user_name'] }}</a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div id="wrapper" class="container">
    <div class="row">
    <div class="col-sm-4">
        <div id="sidebar-wrapper-corp">
            <br>
            <ul class="sidebar-nav">
                <br><li class="sidebar-brand">
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="search-input" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form></li><br>
                <li id="client-info">Clients:
                  {% for fund in funds %}
                  <li><label class="tree-toggle nav-header" id="client-info-sub">{{ fund.fund }}</label><br>
                    <ul class="tree" style="display:none">
                      <li><label class="tree-toggle nav-header" id="client-info-sub-sub">Docs</label>
                        <ul class="nav nav-list tree" id="client-info-sub-sub-sub" style="display:none">
                          <li><a href="/download/X">LPA</a></li>
                          <li><a href="#">PPM</a></li>
                          <li><a href="#">IMA</a></li>
                        </ul>
                      </li>
                      <li><label class="tree-toggle nav-header" id="client-info-sub-sub">Forms</label>
                        <ul class="nav nav-list tree" id="client-info-sub-sub-sub" style="display:none">
                          <li ><a href="#">13F</a></li>
                          <li><a href="#">ADV</a></li>
                          <li><a href="#">PF</a></li>
                        </ul>
                      </li>
                      <li><label class="tree-toggle nav-header" id="client-info-sub-sub">Data</label>
                        <ul class="nav nav-list tree" id="client-info-sub-sub-sub" style="display:none">
                          <li><a href="#" class="show-sum-rep" id="{{ fund.client_id }}">Summary Report</a></li>
                          <li id="confi-{{ fund.fund }}"><a href="#">Confidentiality</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  {% endfor %}
                </li>

                <li id="sum-rep-list">Data:
                  {% for summary_report in summary_reports %}
                  <li><label class="tree-toggle nav-header" id="client-info-sub">Summary Reports</label><br>
                    <ul class="tree" style="display:none">
                      <li><label class="tree-toggle nav-header" id="client-info-sub-sub"><a href="#" class="show-sum-rep" id="{{ summary_report.client_id }}">{{ summary_report.fund }}</a></label>
                      </li>
                    </ul>
                  </li>
                  {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper" class="col-sm-8">
        <div class="page-content">

            <div id="allOptions">
                <br>
                <h3 id="corp-options">Select an Action:</h3>
                <p align="left"><a href="#" class="effect-box" id="formFund">Form a Fund</a></p>
                <p align="left"><a href="#" class="effect-box" id="start-sum-rep">Start a Summary Report</a></p>
            </div>
            <div id="upload-sum-rep" style="display:none">
              <h4>Upload a Fund Doc:</h4>
                <form action='/upload/ppm' method="POST" enctype="multipart/form-data">
                  <input type="file" name="file">
                    <input type="submit" class="btn btn-outline-success my-2 my-sm-0">
                </form>
            </div>
            <canvas id="attnyBarChart" width="800" height="350" style="display:none"></canvas>

             <div id="LPA-generator" style="display:none">
                    <form id="LPA-form" action="/process_LPA", method='POST'>
                      <input class="lpa-input" id="input-1" type="text" name="fund" placeholder="Red Cedar Onshore Fund, LP" required autofocus />
                      <label for="input-1">
                        <span class="label-text">What is the complete name of the Fund?</span>
                        <span class="nav-dot"></span>
                       <!--  <div class="signup-button-trigger">Form a Fund</div> -->
                      </label>
                      <input class="lpa-input" id="input-2" type="text" name="fund_state" placeholder="Utah" required />
                      <label for="input-2">
                        <span class="label-text">In what state is the fund being formed?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-3" type="text" name="fund_ppp" placeholder="Salt Lake City, Utah" required />
                      <label for="input-3">
                        <span class="label-text">What will be the Fund's principal place of business?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-4" type="text" name="gp" placeholder="Red Cedar Feeder Fund GP, LP" required />
                      <label for="input-4">
                        <span class="label-text">What is the name of the General Partner?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-5" type="text" name="gp_state" placeholder="Delaware" required />
                      <label for="input-5">
                        <span class="label-text">Under what state is the GP organized?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-6" type="text" name="gp_address" placeholder="285 Edgar St., #388 Salt Lake City, UT 84044" required />
                      <label for="input-6">
                        <span class="label-text">What is the mailing address for the GP?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-7" type="email" name="gp_email" placeholder="redcedarGP@address.com" required />
                      <label for="input-7">
                        <span class="label-text">How can we reach the GP (email)?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-8" type="text" name="gp_sig_party" placeholder="Jane Doe" required />
                      <label for="input-8">
                        <span class="label-text">Who will sign on behalf of the GP (manager of GP)?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-9" type="text" name="im" placeholder="Red Cedar Management LLC" required />
                      <label for="input-9">
                        <span class="label-text">What is the name of the Investment Manager?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-10" type="text" name="im_state" placeholder="Delaware" required />
                      <label for="input-10">
                        <span class="label-text">Under what state is the Manager organized?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-11" type="text" name="im_address" placeholder="285 Edgar St., #388 Salt Lake City, UT 84044" required />
                      <label for="input-11">
                        <span class="label-text">What is the mailing address for the Manager?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-12" type="email" name="im_email" placeholder="redcedarIM@address.com" required />
                      <label for="input-12">
                        <span class="label-text">How can we reach the Manager (email)?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <input class="lpa-input" id="input-13" type="date" name="sig_date" placeholder="01/01/2018" required />
                      <label for="input-13">
                        <span class="label-text">When will all parties be signing this agreement?</span>
                        <span class="nav-dot"></span>
                      </label>
                      <button id="makeLPA" type="submit">Okay, let's make the LPA</button>
                      <p class="tip">Press Tab</p>
                      <div class="signup-button">Form a Fund</div>
                    </form>

             </div><br>

              <div id="sum-rep" style="display:none">
               <table class="table table-hover">
                <thead>
                  <tr id="table-labels">
                    <th scope="col">CATEGORY</th>
                    <th scope="col" id="fund-name-caps">FUND NAME</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fund Name</th>
                    <td id="fund-name">Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">Jurisdiction</th>
                    <td colspan="2" id="jurisdiction-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Manager</th>
                    <td colspan="2" id="manager-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Principals</th>
                    <td colspan="2" id="principals-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Minimum Capital Commitment</th>
                    <td colspan="2" id="min-commit-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Management Fee</th>
                    <td colspan="2" id="mgmt-fee-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Leverage</th>
                    <td colspan="2" id="leverage-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Reinvestment</th>
                    <td colspan="2" id="reinvest-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Removal</th>
                    <td colspan="2" id="removal-info">Larry the Bird</td>
                  </tr>
                  <tr>
                    <th scope="row">Transfers</th>
                    <td colspan="2" id="transfers-info">Larry the Bird</td>
                  </tr>
                </tbody>
              </table>
              </div>

        </div>
    </div>
    </div>
</div>

    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/static/dashboard_corp.js"></script>


</body>


{% endblock %}