{% extends 'base.html' %}

{% block head %}

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock %}

{% block content %}

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <b><a href="#" class="w3-bar-item w3-button">You Have {{ case_count }} Active Cases:</a></b>
  {% for case in active_case_lst %}
  {% for defendant in case.defendants %}
  <a href="/answer_init/{{ case.case_id }}" class="w3-bar-item w3-button"><li>Case: {{ case.case_id }}
                                              | Client: {{ defendant.fname }}
                                                        {{ defendant.lname }}<br>
                                                <b>Due:</b> {{ case.complaint }}</li></a>
<!--
                                        Client: {{ case.defendants[0].fname }}
                                                    {{ case.defendants[0].lname }}
                                            | Case: {{ case.case_id }}</a> -->
  {% endfor %}
  {% endfor %}
</div>

<div id="main">

<div class="w3-#edf1f7">
  <button id="openNav" class="w3-button w3-#edf1f7 w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1 align="center">Lglease</h1>
    <h2>Hello, {{ session['current_user_name'] }}</h2>
  </div>
</div>

<nav class="navbar navbar-inverse bg-inverse">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Lglease</a>
  <div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attorneys">Attorneys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Start a Case</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Litigation</a>
          <a class="dropdown-item" href="#">Corporate</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>
</nav>

<div class="w3-container">
  <img src="https://dendritics.com/scales/alice/alice37a.gif" height="300" width="200">
  <a href="/case_init">Start a new case<a>
</div>

</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>






{% endblock %}