{% extends 'base.html' %}
{% block content %}

<!-- <div id="document"<p>

FIXME: display the pdf next to form inputs to verify

<iframe src=" " width=400 height=600><iframe>

</p></div> -->

<!-- FIXME: route to correct place: -->

Verify form details<br><br>

<form action="/submit">

Counsel:<br><br>

  First name: <input type="text" name="f_name"><br>
  Last name: <input type="text" name="l_name"><br>
  Mailing Address: <input type="text" name="mailing_address"><br><br>

Court<br><br>

  Court name[VERIFY]: <input type="text" name="court_name"><br>
  Case No.: <input type="text" name="case_no"><br>
  Mailing Address: <input type="text" name="mailing_address"><br><br>

<!-- FIXME: add a for loop to see if individual or corporation, from model.py. it also says in doc!!!
 -->
Plaintiff:<br><br>

  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Residency: <input type="text" name="resident_of"><br><br>

Defendant:<br><br>

  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Residency: <input type="text" name="resident_of"><br><br>

Claim details:<br><br>

  Date of injury: <input type="text" name="incident_date"><br>
  Injury location: <input type="text" name="incident_location"><br>
  Description of injury: <input type="text" name="incident_description"><br>
  Damages requested: <input type="text" name="damages_asked"><br><br>

  <input type="submit">

</form>



{% endblock %}