{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block content %}

Let us know if everything looks right<br><br>

<form action="/submit_complaint", method='POST'>

  <input type="hidden" name="filename" value="{{ filename }}">
  <input type="hidden" name="txt_filename" value="{{ txt_filename }}">
  <input type="hidden" name="new_case" value="{{ new_case }}">


  CLAIM TYPE: <!-- FIXME -->
  <select name="claim_type">
    {% for claim in claims %}
    <option value="{{ claim.claim_type_id }}">{{ claim.name }}</option>
    {% endfor %}
  </select><br>

<!--   CLAIM TYPE: <input type="text" name="claim_type" value="{{ parsed_text.claim }}"><br> -->
  Legal basis: <input type="text" name="legal_basis" value="{{ parsed_text.legal_basis }}"><br>
  Amount claimed: <input type="text" name="damages_asked" value="${{ parsed_text.amount_claimed  }}"><br>
  Date: <input type="text" name="claim_type" value="{{ parsed_text.complaint_date }}"><br><br>

Counsel:<br><br>

  First name: <input type="text" name="counsel_fname" value="{{ parsed_text.counsel_fname  }}"><br>
  Last name: <input type="text" name="counsel_lname" value="{{ parsed_text.counsel_lname  }}"><br>
  Firm name: <input type="text" name="counsel_firm" value="{{ parsed_text.counsel_firm }}"><br><br>

Court<br><br>

  Court county: <input type="text" name="court_county" value="{{ parsed_text.county }}"><br>
  Court state: <input type="text" name="court_state" value="{{ parsed_text.state }}"><br>
  Case No.: <input type="text" name="case_no" value="{{ parsed_text.case_no }}"><br><br>

<!-- FIXME: add a for loop to see if individual or corporation, from model.py. it also says in doc!!!
 -->
Plaintiff:<br><br>

  First name: <input type="text" name="plaintiff_fname" value="{{ parsed_text.plaintiff_fname }}"><br>
  Last name: <input type="text" name="plaintiff_lname" value="{{ parsed_text.plaintiff_lname }}"><br><br><br>

Defendant:<br><br>

  First name: <input type="text" name="defendant_fname" value="{{ parsed_text.defendant_fname }}"><br>
  Last name: <input type="text" name="defendant_lname" value="{{ parsed_text.defendant_lname }}"><br>
  Residence: <input type="text" name="defendant_residence" value="{{ parsed_text.defendant_residence  }}"><br><br>

<!-- Claim details:<br><br>

  Date of injury: <input type="text" name="incident_date"><br>
  Injury location: <input type="text" name="incident_location"><br>
  Description of injury: <input type="text" name="incident_description"><br> -->

  <input type="submit">

</form>

<!-- <div id="document"<p>

FIXME: display the pdf next to form inputs to verify

<iframe src=" " width=400 height=600><iframe>

</p></div> -->


{% endblock %}