{% extends 'base.html' %}
{% block content %}

<form action='/XYZ'>

    pull from here: http://www.karlinlaw.com/blog/2012/06/sample-general-denial-answer-filed-in-california-buisness-or-real-estate-lawsuit-with-affirmative-de.shtml

  Select the appropriate responses:
  <input type="checkbox" name="affirmative_defenses" value="soda">No Cause of Action
  <input type="checkbox" name="affirmative_defenses" value="coffee">
  <input type="checkbox" name="affirmative_defenses" value="mushroom tea">mushroom tea
  <input type="checkbox" name="affirmative_defenses" value="kombucha">kombucha
  <input type="submit">
</form>


{% endblock %}