{% extends 'base.html' %}
{% block content %}

<!-- FIXME: pass in info about user in text filed w/ default value -->
    <h2>Edit your Account</h2>
    <form action="/confirm_new_account" method="POST">

     <!--    Like this: -->
      First name: <input type="text" name="f_name" value="{{ parsed_text.counsel_fname  }}">


      Last Name<input type="text" name="lname">
      Email<input type="text" name="email">
<!--       Password<input type="password" name="password"> -->
      <input type="submit">
    </form>


{% endblock %}