{% extends 'base.html' %}
{% block content %}

<div align="center">
<form action='/process_answer', method='POST'>
  <br>
  <br>
  <br>
  <h4><b>Which responses would you like to include?</b></h4><br>
  <input type="checkbox" name="affirmative_defenses" value="no cause of action"> No Cause of Action<br><br>
  <input type="checkbox" name="affirmative_defenses" value="statute of frauds"> Statute of Frauds<br><br>
  <input type="checkbox" name="affirmative_defenses" value="offset"> Offset<br><br>
  <input type="checkbox" name="affirmative_defenses" value="waiver"> Waiver<br><br>
  <input type="checkbox" name="affirmative_defenses" value="estoppel"> Estoppel<br><br>
  <input type="checkbox" name="affirmative_defenses" value="breach of contract"> Breach of Contract<br><br>
  <input type="checkbox" name="affirmative_defenses" value="release"> Release<br><br>
  <input type="checkbox" name="affirmative_defenses" value="in pari delicato"> In Pari Delicato<br><br>
  <input type="checkbox" name="affirmative_defenses" value="equitable estoppel"> Equitable Estoppel<br><br>
  <input type="checkbox" name="affirmative_defenses" value="full performance"> Full Performance<br><br>
  <input type="checkbox" name="affirmative_defenses" value="failure to mitigate damages"> Failure to Mitigate Damages<br><br>
  <input type="checkbox" name="affirmative_defenses" value="ratification of acts"> Ratification of Acts<br><br>
  <input type="checkbox" name="affirmative_defenses" value="no reasonable reliance"> No Reasonable Reliance<br><br>
  <input type="checkbox" name="affirmative_defenses" value="statute of limitations"> Statute of Limitations<br><br>
  <input type="checkbox" name="affirmative_defenses" value="parole evidence rule"> Parole Evidence Rule<br><br>
  <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Okay">
</form>
  <br><br>
<button class="btn btn-outline-success my-2 my-sm-0" id="dash-redirect-team">Back to Dashboard</button>

</div>

{% endblock %}