{% extends 'base.html' %}

{% block head %}

  {% if 'current_user_name' not in session %}
    <h3 align="right"><a href="/login">Login</a></h3>
    <h3 align="right"><a href="/register">Register new user</a></h3>
  {% else %}
    <h5 align="right">Hello, {{ session['current_user_name'] }}</h5>
    <h4 align="right"><a href="/signout">Sign out</a></h4>
  {% endif %}

    <h1 align="center" id="logo">Lglease</h1>

<!--     // <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyle.js"></script>

{% endblock %}

<!-- in here I should pull in the db and loop through to show geocode addressses
 -->
{% block content %}

  {% if 'current_user' in session %}
  <div align="center">
    <a href='/dashboard_corp'><button type="button" class="btn btn-outline-corporate" id="dash">Corporate</button></a>
    <a href='/welcome'><button type="button" class="btn btn-outline-litigation" id="dash">Litigation</button></a>
  </div>

  {% endif %}

<!--     <a href='/dashboard_corp'><button type="button" class="btn btn-outline-corporate">Corporate</button></a>

    <a href='/dashboard_lit'><button type="button" class="btn btn-outline-litigation">Litigation</button></a> -->

    <div id="map"></div>
    <script src="/static/casemap.js"></script>
    <script async defer
    //       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfv0ZxBjljPczGB-zCBhkRcGrU8JyAlis&libraries=places&callback=initMap"></script>
{% endblock %}
