{% extends 'base.html' %}

{% block head %}

<div id="darkness"></div>

  {% if 'current_user_name' not in session %}
    <h5 align="right"><a href="/register">Register new user</a></h5>
  {% else %}

    <h3 align="left" id="greet-user">Welcome, {{ session['current_user_name'] }}</h3>
    <h4 align="left"><a href="/signout">Sign out</a></h4>

  {% endif %}

    <h1 align="center" id="logo">Lglease</h1>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyle.js"></script>

{% endblock %}

{% block content %}

  {% if 'current_user' in session %}

  <body id="pod">
    <div align="center" class="effect-box">
      <a href='/dashboard_corp' align="center"><button type="button" class="btn btn-outline-success my-2 my-sm-0" id="dash">Corporate</button></a>
      <a href='/welcome' align="center"><button type="button" class="btn btn-outline-success my-2 my-sm-0" id="dash">Litigation</button></a>
    </div>
    <div id="map"></div>

    <div id="home-footer">
    <p>Lglease ©2017 | <a href="https://www.linkedin.com/in/lindsaykroyer/">Contact us</a></p>
  </div>
  </body>

  {% else %}

  <br><br><br>
  <div class="gallery">
  <div align="center" class="img__wrap">
    <img src="/static/city3.jpg" class="img-responsive" id="home-img" style="width:20%;">
    <div class="gallery-text">
      <h3 align="center"><a href="/login" id="login-route">Login</a></h4>
    </div>
  </div>
  </div>

  {% endif %}

    <script src="/static/casemap.js"></script>
    <script src="/static/homepage.js"></script>
    <script async defer
    //       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfv0ZxBjljPczGB-zCBhkRcGrU8JyAlis&libraries=places&callback=initMap"></script>

{% endblock %}
