{% extends 'base.html' %}

{% block head %}

{% if 'current_user' not in session %}
  <h3><a href="/login">Login</a></h3>
{% else %}
  <h3>Hello, {{ session['current_user'] }}</h3>
  <h2><a href="/signout">Sign out</a></h2>
{% endif %}

  <h3><a href="/register">Register new user</a></h3>

<!--     // <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyle.js"></script>
    <script src="/static/casemap.js"></script>
    <script async defer
    //       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfv0ZxBjljPczGB-zCBhkRcGrU8JyAlis&callback=initMap">
    </script>

{% endblock %}

<!-- in here I should pull in the db and loop through to show geocode addressses
 -->
{% block content %}

    <a href='/dashboard_corp'><button type="button" class="btn btn-outline-corporate">Corporate</button></a>

    <a href='/dashboard_lit'><button type="button" class="btn btn-outline-litigation">Litigation</button></a>

    <div id="map"></div>

{% endblock %}
