{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lglease</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Attorneys</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <!--  <li><form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li> -->
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{ session['current_user_name'] }}</a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Home</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Start a New Case</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-check"></span> Completed Cases</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-time"></span> Set a Reminder</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Messages</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="w3-table-all w3-hoverable">
                        <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Points</th>
                        </tr>
                        <tr>
                          <td>Jill</td>
                          <td>Smith</td>
                          <td>50</td>
                        </tr>
                        </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="w3-responsive">
  <table class="w3-table-all w3-hoverable">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    </table>
  </table>
</div> -->


    // <script src="https://code.jquery.com/jquery.js"></script>
    // <script src="/static/mapstyle.js"></script>
    // <script src="/static/casemap.js"></script>
    // <script async defer
    // //       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfv0ZxBjljPczGB-zCBhkRcGrU8JyAlis&libraries=places&callback=initMap"></script>

{% endblock %}