{% extends 'base.html' %}

{% block head %}

<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1" /> -->

<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

{% endblock %}

{% block content %}

<body id="dashBack">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="dash-logo" href="/about_us">Lglease</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard_corp">Corporate</a></li>
      <li><a href="/attorneys">Attorneys</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{ session['current_user_name'] }}</a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div id="wrapper">
        <div id="sidebar-wrapper-lit">
        <ul class="sidebar-nav">
            <br><li class="sidebar-brand">
<!--                 <form class="form-inline my-2 my-lg-0"> -->
                <input class="form-control mr-sm-2" id="user-lit-search" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="lit-search" type="submit">Search</button>
                </li><br>
            <li><a href="/case_init"><span class="glyphicon glyphicon-edit"></span> Start a New Case</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-check"></span> Completed Cases</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-time"></span> Set a Reminder</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Send a message</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-gift"></span> Notifications</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-equalizer"></span> Plan a Meeting</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-file"></span> Forms</a></li><br>
            <li id="availChart"><a href="#"><span class="glyphicon glyphicon-signal"></span> Check Attorney Availability</a></li><br>
            <li id="bounding-box-btn"><a href="#"><span class="glyphicon glyphicon-star"></span> NEW Beta Test Bounding Boxes<span class="glyphicon glyphicon-star"></span></a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                            <canvas id="progressChart" width="800" height="350"></canvas>
                            <canvas id="attnyBarChart" width="800" height="350" style="display:none"></canvas>
                            <div id="timeline" style="display:none">

                        <div class="page-header" id="timeline" style="display:none">
                          <h1>Horizontal timeline</h1>
                        </div>
                        <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal">
                            <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Complaint</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Processed: [date] via Lglease</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p id="complaint-info">Stuff</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Answer</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Lglease</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p id="answer-info">Stuff</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Interrogatories</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Lglease</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p id="interrogatories-info">Stuff</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Request for Production of Documents</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Lglease</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p id="requestprodocs-info">Stuff</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 5</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Lglease</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>

                            </div>
                            <div id="notepad" style="display:none">
                                <p id="case-note-tag">Write a note for Case </p>
                                <textarea id="area" rows="10" cols="50"></textarea></div>
                            <div id="notepadControls" style="display:none">
                                <p><a href="#" class="button" id="save-note">Save</a>
                                <a href="#'" class="button" id="close-note">Close</a>
                                <a href="#" class="button" id="download-note">Download</a>
                                </p>
                            </div>

                        </div><br>

                        <div id="caseInfo" class="row-fluid">
                          {% if case_count > 1 %}
                          <p><b>You Have <a id="red-text">{{ case_count }}</a> Active Cases:</b></p>
                          {% elif case_count == 1 %}
                          <p><b>You Have {{ case_count }} Active Case:</b></p>
                          {% endif %}
                          <table class="table table-hover table-dark table-striped">
                            <th> Case Id </th>
                            <th> Type </th>
                            <th> Team </th>
                            <th> Opposition </th>
                            <th> Status </th>
                            <th></th>
                            {% for case in active_case_lst %}
                            {% for defendant in case.defendants %}
                            <tr data-toggle="collapse" data-target="#div-{{ case.case_id }}" data-case-id="{{ case.case_id }}" class="accordion-toggle" id="case-row">
                                <td id="caseId"> {{ case.case_id }} </td>
                                <td> {{ case.complaint.legal_basis }} </td>
                                <td>
                                    {% for user in case.users %}
                                    {% if user.user_id == case.team_lead %}
                                    <b><li>{{ user.fname }} {{user.lname}}</b></li>
                                    {% else %}
                                    <li>{{ user.fname }} {{user.lname}}</li>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td> {{ case.opp.firm_name }} </td>
                                <td id="case-status-{{ case.case_id }}"><a id="red-text">{{ case.status }}</a></td>
                                <td><button type="button" class="show-timeline" id="{{ case.case_id }}">Show More</button></td>
                            </tr>
                            <tr class="hiddenRow">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="accordion-body collapse" id="div-{{ case.case_id }}">
                                    <b>Documents:</b>
                                    {% if case.complaint %}
                                    <li><object data="{{ case.complaint.doc }}" type="text/plain" width="500" style="height 300px"><a href="{{ case.complaint.doc }}">Complaint</a></object></li>
                                    {% endif %}
                                    {% if case.answer %}
                                    <li><object data="{{ case.answer.docx }}" type="text/plain" width="500" style="height 300px"><a href="{{ case.answer.docx }}">Answer</a></object></li>
                                    {% endif %}
                                    {% if case.interrogatories %}
                                    <li><object data="{{ case.interrogatories.docx }}" type="text/plain" width="500" style="height 300px"><a href="{{ case.interrogatories.docx }}">Interrogatories</a></object></li>
                                    {% endif %}
                                    {% if case.request_pro_docs %}
                                    <li><object data="{{ case.request_pro_docs.docx }}" type="text/plain" width="500" style="height 300px"><a href="{{ case.request_pro_docs.docx }}">Request for Production of Documents</a></object></li>
                                    {% endif %}
                                    <li id="new-notes" data-case-id="{{ case.case_id }}"><a href="#">Add Notes</a></li>
                                </td>
                                <td>
                                    <div id="display-notes">
                                        <b>Notes:</b></div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                          </table>
                        </div>

                    <div id="search-results-div" style="display:none">
                        <h2>Search Results:</h2>
                        <table class="table table-striped" id="search-results-table" style="display:none">
                        </table>
                        <button class="btn btn-outline-success my-2 my-sm-0" id="dash-redirect">Back to Dashboard</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="caseList" style="display:none">{{ active_case_lst }}</div>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/dashboard.js"></script>

{% endblock %}