{% extends 'base.html' %}

{% block head %}

<script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lglease</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/dashboard_corp">Corporate</a></li>
      <li><a href="/attorneys">Attorneys</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{ session['current_user_name'] }}</a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <br><li class="sidebar-brand">
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Start a New Case</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-check"></span> Completed Cases</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-time"></span> Set a Reminder</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Send a message</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-gift"></span> Notifications</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-equalizer"></span> Plan a Meeting</a></li><br>
            <li><a href="#"><span class="glyphicon glyphicon-file"></span> Forms</a></li><br>
            <li id="availChart"><span class="glyphicon glyphicon-signal"></span> Check Attorney Availability</li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="container-fluid">
                        <div class="row">
                            <div id="startingChart" class="col-xs-offset-1 col-xs-6 col-lg-offset-1 col-lg-6">
                                <img src="https://www.reflectionsworld.co.uk/assets/images/chartjs-casperjs.png"></div>
                            <canvas id="attnyBarChart" width="800" height="350" style="display:none"></canvas>
                        </div><br>
                          {% if case_count > 1 %}
                          <p><b>You Have {{ case_count }} Active Cases:</b></p>
                          {% elif case_count == 1 %}
                          <p><b>You Have {{ case_count }} Active Case:</b></p>
                          {% endif %}
                          {% for case in active_case_lst %}
                          {% for defendant in case.defendants %}
                        <div id="caseInfo" class="row-fluid">
                        <table class="table table-striped">
                            <th> Case Id </th>
                            <th> Type </th>
                            <th> Team </th>
                            <th> Opposition </th>
                            <th> Status </th>
                            <tr class="accordion-toggle" data-toggle="collapse" data-parent="#caseInfo" data-target=".collapseData">
                                <td> {{ case.case_id }} </td>
                                <td> {{ case.complaint.legal_basis }} </td>
                                <td>
                                    {% for user in case.users %}
                                    {% if user.user_id == case.team_lead %}
                                    <b><li>{{ user.fname }} {{user.lname}}<b></li>
                                    {% else %}
                                    <li>{{ user.fname }} {{user.lname}}</li>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td> {{ case.opp.firm_name }} </td>
                                <td><button type="button" class="btn" id="expandRow" data-toggle="collapse" data-target="#collapseData">Show More</button></td>
                            </tr>
                            <tr colspan="5" class="hiddenRow"><div class="accordion-body collapse collapseData" id="collapseData">
                                {% if case.complaint %}
                                <li><object data="{{ case.complaint.pdf }}" type="text/plain" width="500" style="height 300px"><a href="{{ case.complaint.pdf }}">Complaint</a></object></li>
                                {% endif %}
                                {% if case.answer %}
                                <li>{{ case.answer.docx }}</li>
                                {% endif %}
                                <li id="NOTES">Add Notes</li>
                                {% endfor %}
                                {% endfor %}
                            </div>
                            </tr>
                        </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/dashboard.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>


{% endblock %}